.main {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.main-title {
    color: #2fa31d;
    text-align: center;
    margin-top: 50px;
}   

.new-div {
    color: red;
}


.underline {
    border: 1px solid blue;
}
.open-color {
    color: skyblue;
    background-color: black;
    
}
.dark-color {
    color: purple;
    background-color: gray;
}
.hide {
    display: none;
}