.main {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.main-title {
    color: #2fa31d;
    text-align: center;
    margin-top: 50px;
}   

.new-div {
    color: red;
}


.underline {
    border: 1px solid blue;
}
.open-color {
    color: skyblue;
    background-color: black;
    
}
.dark-color {
    color: purple;
    background-color: gray;
}
.hide {
    display: none;
}

.calculator {
    margin-top: 200px;
    display: flex;
    gap: 10px;
}

.calculator p {
    width: 100px;
    background-color: beige;
    border: 1px  solid white;
    height: 40px;
    margin: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: chocolate;

}

.calculator button {
    width: 100px;
    background-color: #2fa31d;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: 30px;
}

.calculator .delete-btn {
    width: 100px;
    background-color: #0f190d;
    border: 1px solid white;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    font-size: 20px;
}
